/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v8/iJWKBXyIfDnIV7nBrXk.ttf) format('truetype');
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
}
.bold-header {
  font-weight: 600;
}
.circle-border {
  border-radius: 50%;
}
.container {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  font-size: calc(1.6rem + 0.5vw);
}
.container .nav-bar {
  top: 0;
  position: fixed;
  z-index: 1;
  background: white;
  max-width: 990px;
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .container .nav-bar {
    justify-content: space-between;
  }
}
.container .nav-bar a {
  text-decoration: none;
  color: black;
  margin-left: 4%;
}
.container .nav-bar a:hover {
  font-weight: 600;
  color: #f3c326;
}
@media screen and (max-width: 500px) {
  .container .nav-bar a {
    margin-left: 0;
  }
}
.container .intro {
  margin: 6vh 1vw 0 1vw;
  background: #cfcece;
}
.container .intro h1 {
  font-size: 5rem;
  padding-left: 3%;
}
.container .intro p {
  padding-left: 3%;
  line-height: calc(2.3rem + 0.5vw);
}
.container .intro img {
  max-width: 300px;
  width: 100%;
  border-radius: 50%;
  margin: 4vh;
}
.container .contact {
  margin: 3vh 3vw;
  border: 2px dashed lightgray;
  padding: 1%;
}
.container .contact h2 {
  font-size: 2.4rem;
  font-weight: 600;
  padding-bottom: 1%;
}
.container .contact h2,
.container .contact p {
  line-height: calc(2.3rem + 0.5vw);
}
.container .contact a {
  text-decoration: none;
  color: black;
}
.container .contact a:hover {
  font-weight: bold;
  color: #f3c326;
}
.container .skills {
  margin: 2vh 1vw;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .container .skills {
    flex-direction: column;
    align-items: center;
  }
}
.container .skills .skills-column {
  width: 48%;
}
.container .skills .skills-column h2 {
  font-size: 2.4rem;
  font-weight: 600;
  padding-bottom: 2%;
}
.container .skills .skills-column ul {
  list-style-position: inside;
}
.container .skills .skills-column li {
  list-style-type: disc;
  line-height: calc(2.3rem + 0.5vw);
}
@media screen and (max-width: 500px) {
  .container .skills .skills-column {
    width: 90%;
    margin-bottom: 2vh;
  }
}
.container .work {
  margin: 1vh 1vw;
}
.container .work h2 {
  font-size: 2.4rem;
  line-height: calc(2.3rem + 0.5vw);
  font-weight: 600;
  padding-bottom: 1%;
}
.container .work table {
  margin: 1vh 0;
  width: 100%;
}
.container .work td,
.container .work th {
  border: 1px solid #cfcece;
  padding: 1rem;
}
.container .work th {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  background: #5c5c5c;
  color: white;
}
.container footer {
  margin: 2vh 0;
  padding: 1rem;
  text-align: center;
  background: #cfcece;
  font-size: calc(1rem + 0.5vw);
}
